<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <!-- Demo Dependencies -->
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/pickmeup.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="/javascripts/holder.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
  <script src="/javascripts/pickmeup.min.js" type="text/javascript"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <!-- Dashboard -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/keen-dashboards.css" />
</head>
<body class="keen-dashboard">
  <ul id="main-menu" class="nav nav-pills">
      <li class="menu {{ activeGrowth }}"><a href="/charts/growth">Growth</a></li>
      <li class="menu {{ activeEngagement }}"><a href="/charts/engagement">Engagement</a></li>
      <li class="menu {{ activeQuality }}"><a href="/charts/quality">Candidate quality</a></li>
      <li class="menu {{ activeHealth }}"><a href="/charts/data-health">Data health</a></li>
      <li class="menu {{ activeDirect }}"><a href="/charts/direct-applications">Direct Applications</a></li>
  </ul>
  {{{ body }}}
</body>
</html>
