<div class="container-fluid">

    <div class="row">

        <div class="col-sm-8">
            <div class="chart-wrapper">
                <label for="input-jobids" class="block-label">Job IDs (e.g., "r0001045, R0000965 r00001182")</label>
                <textarea class="input-wide" id="input-jobids">
                </textarea>

                <button id="btnUpdate" class="float-right">Update</button>
                <button id="btnReset" class="float-right">Reset defaults</button>

                <table id="exported-to-wd" class="data-table">
                    <thead>
                        <tr>
                            <td>Job ID</td>
                            <td>Job Name</td>
                            <td class="data-number">Candidates in TalCom</td>
                            <td class="data-number">Candidates exported to WD</td>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>


<script src="/javascripts/shared.bundle.js" type="text/javascript"></script>
<script src="/javascripts/direct-app.bundle.js" type="text/javascript"></script>
