
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          Date range: <input id="daterange-signups" class="daterange">
          <div class="chart-stage" id="chart-01">
            <div id="grid-1-1">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          Date range: <input id="daterange-cl" class="daterange">
          <div class="chart-stage" id="chart-clevel">
            
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          Date range: <input id="daterange-jf" class="daterange">
          <div class="chart-stage" id="candidates-by-jf">
            <div id="grid-1-1">
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>

  <script src="/javascripts/shared.bundle.js" type="text/javascript"></script>
  <script src="/javascripts/growth.bundle.js" type="text/javascript"></script>
  