
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-stage" id="chart-01">
            <div id="grid-1-1">
            </div>
          </div>
        </div>
      </div>

    </div>

    

  </div>
  
  <script src="/javascripts/shared.bundle.js" type="text/javascript"></script>
  <script src="/javascripts/quality.bundle.js" type="text/javascript"></script>
