

#main-menu {
  margin: 20px;
}

.daterange {
  width: 200px;
  background-color: #ddd;
  cursor: pointer;
  border: 1px solid #444;
  text-align: center;
  padding: 2px 5px;
}

.daterange:hover { 
  background-color: #eee;
}

/* Forms */

.block {
  display: block;
}

.input-wide {
  width: 100%;
}

textarea {
  height: 7em;
}

.float-right {
  float: right;
}

/* Pick me up date picker */

.pickmeup {
  background: #fff;
  border: 1px solid #444;
}

.pmu-today {
  background:#e8f8ff;
  color:#000;
}

.pickmeup .pmu-instance .pmu-today {
  background: #fa0;
}

.pickmeup .pmu-instance .pmu-button:hover {
  color:#0088ff;
  background: #ddd;
}

.pickmeup .pmu-instance .pmu-selected { 
  background:#aef;
  color:#000;
}

.pickmeup .pmu-instance .pmu-button.pmu-disabled,
.pickmeup .pmu-instance .pmu-button.pmu-disabled:hover {
  color:#ddd;
  background-color: #aaa;
  cursor:default;
}

.pickmeup .pmu-instance .pmu-button {
  color: #000;
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: #fff;
  color: #ddd;
}

.data-table {
  width: 100%;
  margin-top: 3em;
  clear: both;
}

.data-table thead {
  background-color: #e8f8ff;
  font-weight: bold;
}

.data-table td {
  padding: 2px 5px;
}

.data-number {
  text-align: right;
}